* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 2em;
    scroll-behavior: smooth;

}

.container{
    display: grid;
    grid-template-rows: 60px 100vh 336px 336px;
    
}

ul {
  list-style: none;
  text-decoration: none;
  
}

a {
    text-decoration: none;
    margin-right: 1rem;
    font-family: 'Roboto Mono', monospace;
    color: #dad5d5;
}

h1, h2 {
    padding-top: 3rem;
    padding-bottom: 1rem;
}



.cat {
    width: 20%;
    height: 80%;
}

.link-imgs {
    width: 30px;
    height: 30px;
}




/* navbar section */
#nav-list {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding-right: 50px;
  background-color: rgb(60, 54, 70);
  z-index: 5;
  border-bottom: #530d5c;
}

@media (max-width: 640px) {
#nav-list {
    justify-content: center;

  }
}

/* welcome section */
#welcome-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: #dad5d5;
    background-color: #5a3bc7;
    background-image: linear-gradient(70deg, #5a3bc7 0%, #240675 100%);
}

/* projects section */
#projects {
    text-align: center;
    color: #dad5d5;
    height: 12rem;
    background-image: linear-gradient(70deg, #5a8a4e 0%, #4e678a 100%);
}


/* contacts section */
#contacts-section {
    text-align: center;
    font-size: 60%;
    height: 336px;
    color: #dad5d5;
    background-color: slategrey;
}



.copylink {
    font-size: 5px;
}

footer {
    background-color: slategrey;
}